postactivate*.sh
postactivate*.ps1
.venv
venv
reports
allure-results
allure-report
allure-report-initial
allure-report-rerun
allure-report-single
temp
.idea
__pycache__
logs
report.html
.pytest_cache
*.egg-info
